html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 100px;
  background-color: beige;
}

.caloperations {
  display: inline-flex;
}

.calculator {
  margin-top: 5em;
}

.calculator input {
  width: 5em;
}
.topbar {
  background-color: blue;
  top: 0;
  position: relative;
  color: white;
  text-align: center;
}

.title-app {
  cursor: help;
}

.logout {
  cursor: pointer;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
